<div class="container">

  <div class="hero-unit">
    <div class="row" id="header">
      <div class="span16">
        <h2>FinPort uses machine learning to curate financial news that’s personally relevant to you, to help you make smarter investment decisions.</h2>
        <p class="lead">FinPort helps you sift through the deluge that is financial news. We show you the most important, relevant news, so you don't have to go searching for it.</p>
      </div>
    </div>
    
  </div> 

  <div class="row">
    <div class="span4 offset4">
      <h3>Join our mailing list to get an invite to the FinPort Beta release</h3>        
      <input class='span3' name='EMAIL' placeholder='email address' type='email'></input>
      <p><a href='#/signup' class='btn btn-primary btn-large'>Sign Up for FinPort Beta &raquo;<a></p>          
    </div>
  </div>

  <br />      
  
</div> 

