<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>FinPort beta</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>  
    <script type="text/javascript" src="js/article.js"></script>   
    <link href="css/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="icon-bar"></span>
          <a class="brand" href="#">FinPort</a>
          <ul class="nav">
            <li class="active"><a href="#/home"><i class="icon-home icon-large icon-white"></i> Home</a></li>
            <li><a class="" href="#/trends"><i class="icon-bar-chart icon-large icon-white"></i> Trends</a>            
            <li><a class="" href="#/help"><i class="icon-info-sign icon-large icon-white"></i> Help</a>              
          </ul>
          <div class="pull-right">
            <ul class="nav">
              <li><a href="#/logout">Logout <i class="icon-signout icon-large icon-white"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>  <!-- end navbar -->

    <div class="container">
      
      <div class="row">
        <div class="span3">

	      <table class="table table-bordered">
            <tbody>
	          <tr>
		        <td>
		          Relevant - Insightful - Empowering 
		        </td>
	          </tr>
	        </tbody>
	      </table>
	      
          <table class="table table-bordered">
            <tbody>
	          <tr>
		        <td>
		          <form class="form-horizontal">
		            <select class="span2">
		              <option>standard</option>
		              <option>research</option>
		            </select>
		          </form>
                </td>
              </tr>  
            </tbody>
          </table>
	      
          <table class="table table-bordered">
            <tbody>
	          <tr>
		        <td>
		          "your username"
		        </td>
	          </tr>
              <tr>
                <td>
                  <form class="form-search" onsubmit="showRSS(this.term.value); return false;">
		            <input class="span2" name="term" id="prependedSearch" size="16" type="text" placeholder="search:">
		          </form>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>Status</h4>
                </td>
              </tr>  
              <tr>
                <td>
                  <h4>Social Index</h4>
                  <div><i class="icon-fire icon-large"></i><a href="#/si"> #.#</a></div>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>FinPort</h4>
                </td>
              </tr>  
              <tr>
                <td>
                  <h4>My Profile</h4>
                </td>
              </tr>  
	          
            </tbody>
          </table>

        </div>

        <div class="span6">
	      
          <div id="feature" class="hero-unit">

	        <div class="row">
	          <div class="pull-left">
		        <a href="#next">&laquo; Back</a>
	          </div>
	          
	          <div class="pull-right">
		        <a href="#next" id="next_article">Next &raquo;</a>
	          </div>
	        </div>
	        
            <h2 class="headline">Article Headline</h2>

	        <div class="source">
	          <a href="#" >article_source.com</a>
	        </div>
	        <div class="mute">
	          By Editorial Staff | Mar. 11, 2012, 7:00pm PT
	        </div>

	        <br />

	        <div class="row">
	          <ul class="thumbnails" style="margin-left: 0; padding-left: 0;">
		        <li class="span3">
		          <a href="#" class="thumbnail">
		            <img src="http://placehold.it/260x180" alt="">
		          </a>
		        </li>
	          </ul>
	        </div>
	        
	        <div class="row">
	          <div class="span3">
		        <ul>
		          <li >
		            <button class="btn btn-success" href="#"><i class="icon-arrow-up"></i>good</button>
		          </li>
		          <li >
		            <button class="btn btn-info" href="#"><i class="icon-arrow-left"></i>keep</button>
		          </li>		  
		          <li >		  
		            <button class="btn btn-danger" href="#"><i class="icon-arrow-down"></i>kick</button>
		          </li>
		        </ul>
	          </div>
	        </div>
	        
	        <br />
	        
            <div class="feature-text">
	          <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc nunc, congue et euismod a, feugiat et magna. Cras laoreet tortor nec dolor euismod in aliquam risus gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas ipsum urna, feugiat quis varius eu, aliquet in tortor.
	          </span>
	          <br />
              <a href="#/more" class="read-more-link">read more &raquo;</a>	      
            </div>
            <br />
            <div class="read-more-text">
              <span>
                Sed sed felis nulla, sit amet tincidunt tellus. Proin non turpis lectus, in ultricies lacus. Mauris dignissim auctor consectetur. Nunc libero risus, tincidunt nec dignissim id, cursus vitae nisi. Ut est leo, iaculis eget blandit non, semper vitae massa. Aliquam porta, lacus non euismod fermentum, magna purus rhoncus odio, in imperdiet augue tortor sed dui. Fusce dignissim mollis diam, sit amet fermentum nunc dapibus non. Integer rutrum auctor est, ac tincidunt tortor vulputate eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eu neque vel sem interdum viverra blandit et urna.
              </span>
              <br />
              <a href="#/less" class="read-less-link">read less &raquo;</a>
            </div>	    
	        
	        <br />

	        <ul class="feedback">
	          <li>
		        <a href="#/ok" class="feedback-ok">
		          <i class="icon-ok"></i>
		        </a>
	          </li>
	          <li>
		        <a href="#/remove" class="feedback-remove">
		          <i class="icon-remove"></i>
		        </a>
	          </li>
	          <li>
		        <a href="#/comments" class="feedback-comments">
		          <i class="icon-comment"></i>
		        </a>
	          </li>
	          <li>
		        <a href="#/tags" class="feedback-tags">
		          <i class="icon-tags"></i>
		        </a>
	          </li>
	          <li>
		        <a href="#/save" class="feedback-save">
		          <i class="icon-check"></i>
		        </a>
	          </li>
	          <li>
		        <a href="#/share" class="feedback-share">
		          <i class="icon-share"></i>
		        </a>
	          </li>
	        </ul>
	        
          </div> <!-- end hero-unit -->

        </div> <!-- end span6 -->


	    
        <div class="span3">
	      
          <table class="table table-bordered">
            <tbody>
	          <tr>
                <td>
		          <div class="pull-right">
		            <script type="text/javascript">
		              <!--
			             var currentTime = new Date()
			             var month = currentTime.getMonth() + 1
			             var day = currentTime.getDate()
			             var year = currentTime.getFullYear()
			             document.write(month + "/" + day + "/" + year)
			             //-->
		            </script>
		          </div>
                </td>
	          </tr>
	          <tr>
                <td>
                  <div class="engine">		  
                    <h4>Work</h4>
		            <h5>&laquo; Article 1 Headline &raquo;</h5>
		          </div>
                </td>
	          </tr>
	          <tr>
                <td>
                  <div class="engine">		  
                    <h4>Life</h4>
		            <h5>&laquo; Article 2 Headline &raquo;</h5>
		          </div>
                </td>
	          </tr>  
	          <tr>
                <td>
                  <div class="engine">		  
                    <h4>Investment</h4>
		            <h5>&laquo; Article 3 Headline &raquo;</h5>
		          </div>
                </td>
	          </tr>  
            </tbody>
          </table>
	      
        </div> <!-- end span3 -->
      </div>  <!-- end row -->


	  <div class="row">    
	    <div class="span12">
          <hr />	  
          <ul>
            <li><strong>&copy; 2012 FinPort</strong></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/support">Help</a></li>
            <li><a href="#/tos">Terms</a></li>
            <li><a href="#/privacy">Privacy</a></li>
            <li><a href="#/blog">Blog</a></li>
            <li><a href="#/media">Media</a></li>
            <li><a href="#/advertisers">Advertisers</a></li>
            <li><a href="#/jobs">Jobs</a></li>
          </ul>
	    </div>
	  </div>

      
    </div> <!--end container-->

    <div style="display:none;">
      <div id="next-page-headline">
        Article 2 Headline
      </div>
      <div id="next-page-timestamp">
        By Editorial Staff | March. 15, 2012, 9:00pm PT
      </div>
      <div id="next-page-feature-text">
        Pellentesque tincidunt mi quis justo fermentum sed vestibulum mi molestie. Nunc massa arcu, lacinia a feugiat aliquet, fringilla at orci. Maecenas rhoncus dui nisl, pellentesque elementum elit. Fusce id libero ac odio dignissim semper eget sit amet dui. Etiam suscipit varius velit, a accumsan justo faucibus id. Nulla sed urna ac sapien rutrum imperdiet nec quis arcu. Proin dapibus aliquet sem sit amet vestibulum. Nam lorem ante, pharetra et ullamcorper eget, commodo vitae nisl. Mauris euismod, nunc sed porta scelerisque, mauris ligula vulputate enim, nec dapibus risus libero id purus. Praesent orci diam, venenatis et egestas eu, dignissim ac odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut vestibulum fringilla magna nec auctor. Ut eget felis at tortor egestas pretium. Aliquam leo elit, rutrum ac pretium eget, porttitor eu nulla.
      </div>
      <div id="next-page-more-text">
        In hac habitasse platea dictumst. Cras vehicula, nibh eget auctor porta, purus ipsum iaculis dolor, eu convallis velit felis a lectus. Suspendisse eu volutpat nunc. Fusce ligula magna, vestibulum a vulputate nec, congue sed lacus. Praesent quis lectus augue, id fringilla lectus. Integer ut quam in est adipiscing pharetra in et quam. Duis tempus felis quis sapien aliquet tristique dapibus felis tincidunt. Sed arcu risus, consectetur adipiscing lacinia vitae, volutpat non nisl. Aliquam luctus ornare nunc, sit amet bibendum ligula sodales nec. Nunc bibendum orci ac diam ornare ut sagittis tellus lobortis. Etiam vitae purus purus. Nam eu orci mauris. Praesent interdum magna suscipit neque euismod rutrum. Cras sagittis purus id nulla dignissim a blandit sapien ullamcorper.
      </div>
    </div>
    
  </body>
</html>

