<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <title>oFeedia beta</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    google.load("feeds", "1");

    function showRSS(str) {
      var feed = new google.feeds.Feed("http://finance.yahoo.com/rss/headline?s="+str);
      feed.setNumEntries(10);


      $("table").filter(".article").remove();
      $("#tags").prepend($("<div></div>").append( $('<a></a>').attr('href','#')
                                                              .text(str)));
    
        feed.load(function(result) {
        if (!result.error) {
          for (var i = 0; i < result.feed.entries.length; i++) {
            var entry = result.feed.entries[i];

            var table = $("<table></table>").addClass("article table table-bordered");
            var body = $("<tbody></tbody>");                              
            var row = $("<tr></tr>");
            var col = $("<td></td>");
            col.append($("<a></a>").addClass("close")
                                   .html('&times'));


            var article = $("<div></div>").addClass("article-container");
            var title = $("<div></div>").addClass("title");
            title.text(entry.title)
                 .css('font-weight','bold');
            article.append(title);
                              
            var snip = $("<div></div>").addClass("snip");
            snip.append($('<small></small>').text(entry.contentSnippet));
            article.append(snip);

            var link = $("<div></div>").addClass("link");
            link.append( $('<a></a>').attr('href',entry.link)
                                     .text('Read more') );
            article.append(link);
                              
            var pub = $("<div></div>").addClass("pub");
            pub.append($('<small></small>').text(entry.publishedDate));
            article.append(pub);
                              
            article.append( $("<i></i>").addClass("icon-ok"));
            article.append( $("<i></i>").addClass("icon-star"));
            article.append( $("<i></i>").addClass("icon-comment"));
            article.append( $("<i></i>").addClass("icon-trash"));

            article.append( $("<button></button>").addClass("btn-mini pull-right")
                       		                  .text("Share"));
                              
            col.append(article);                  
            row.append(col);
            body.append(row)                              
            table.append(body);
            $("#rssOutput").append(table);
          }
        }
      });
    }
    </script>    
    <link href="css/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">        
    <style type="text/css">
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    </style>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="icon-bar"></span>
          <a class="brand" href="#">oFeedia</a>
          <ul class="nav">
            <li class="active"><a href="#/home"><i class="icon-home icon-large icon-white"></i> Home</a></li>
            <li><a class="" href="#/trends"><i class="icon-bar-chart icon-large icon-white"></i> Trends</a>            
            <li><a class="" href="#/help"><i class="icon-info-sign icon-large icon-white"></i> Help</a>              
          </ul>
          <div class="pull-right">
            <ul class="nav">
              <li><a href="#/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>  <!-- end navbar -->

    <div class="container">

      <div class="row">
        <div class="span12">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>
                  <!--article-->
                  <div class="article-container">
                    <div class="title">Example Title</div>
                    <div class="desc">Here is some text containing an interesting description.</div>
                    <div class="link"><a href="http://www.wikipedia.org/">http://www.wikipedia.org/</a></div>
                    <div class="published">Mon, 06 Sep 2009 16:45:00 +0000</div>
                    <div class="guid">unique string per item</div>            
                  </div>
                  <!-- end article-->
                </td>
              <tr>
            </tbody>
          </table>                    
        </div>
      </div>  <!-- end row -->

    </div> <!--end econtainer-->
    
    <div class="container">
      
      <div class="row">
        <div class="span3">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>
                  <div>
                    <h4><i class="icon-user icon-large"></i>  your_email@place.com</h4>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>Your Stats</h4>
                  <div>Num. articles read</div>
                  <div>Num. of articls liked</div>
                  <div>Num. of feeds</div>
                </td>
              </tr>  
              <tr>
                <td>
                  <h4>Connections</h4>
                  <div><i class="icon-facebook-sign icon-large"></i><a href="#/facebook"> Facebook</a></div>
                  <div><i class="icon-twitter-sign icon-large"></i><a href="#/twitter"> Twitter</a></div>                  
                  <div><i class="icon-linkedin-sign icon-large"></i><a href="#/linkedin"> LinkedIn</a></div>
                </td>
              </tr>
              <tr>
                <td>
                  <form class="form-search" onsubmit="showRSS(this.term.value); return false;">                    
                    <input type="text" name="term" class="input-small search-query" placeholder="Stock Ticker, Company, Industry">
                    <button type="submit" class="btn-mini"><i class="icon-search"></i> Search</button>
                  </form>                  
                </td>
              </tr>
              <tr>
                <td>
                  <h4>Feeds</h4>
                  <div id="tags"></div>                  
                  <a href="#/all-feeds">view all</a>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>
                  <!--footer-->
		          <h4>oFeedia</h4>
                  <div class="module site-footer">
                    <ul class="clearfix">
                      <li class="copyright"><h5>&copy; 2012 oFeedia</h5></li>
                      <li><a href="#/about">About</a></li>
                      <li><a href="#/support">Help</a></li>
                      <li><a href="#/tos">Terms</a></li>
                      <li><a href="#/privacy">Privacy</a></li>
                      <li><a href="#/blog">Blog</a></li>
                      <li><a href="#/media">Media</a></li>
                      <li><a href="#/advertisers">Advertisers</a></li>
                      <li><a href="#/jobs">Jobs</a></li>
                    </ul>
                  </div>
                  <!-- end article-->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="span6">
          <div class="hero-unit">
            IMPORTANT ARTICLE HERE
          </div> <!-- end hero-unit -->
          <ul class="nav nav-pills">            
            <li class="active"><a href="#home">recent</a></li>
            <li><a href="#/archives">archives</a></li>
            <li><a href="#/refresh">refresh</a></li>
          </ul>
          <div id="rssOutput"></div>
        </div> <!-- end span6 -->
        <div class="span3">
          <div class="hero-unit">
          </div> <!-- end hero-unit -->
        </div> <!-- end span3 -->
      </div>  <!-- end row -->
      
    </div> <!--end container-->

  </body>
</html>
    
